


<% @myairports.each do |airport| %>
 <h1>
  <% newairport = Airport.new %>
  <% newairport.code = airport[:code] %>
  <%= link_to "#{newairport.code}", xxx_url(airport[:id]) %>

</h1>

  <p>
    <%= newairport.temperature %>
  </p>

  <p>
    <%= newairport.delay %>
  </p>

<% end %>


